<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {%- assign homepage_path = '/' | relative_url -%}

          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            {% if page.url == '/' %}
              <a href="#about-me">Homepage</a>
            {% else %}
              <a href="{{ homepage_path }}#about-me">Homepage</a>
            {% endif %}
          </li>

          {% for link in site.data.navigation.main %}
            {% if link.url contains '#' %}
              {% assign anchor = link.url | split: '#' | last %}
              {% if page.url == '/' %}
                <li class="masthead__menu-item"><a href="#{{ anchor }}">{{ link.title }}</a></li>
              {% else %}
                <li class="masthead__menu-item"><a href="{{ homepage_path }}#{{ anchor }}">{{ link.title }}</a></li>
              {% endif %}
            {% else %}
              <li class="masthead__menu-item"><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
